header {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: #DB7093 ;
    
}

.container {
    display:inline;
    justify-content: space-around;
}
#foto {
    padding: 3px;;
    width: 30px;
    height: 50px; 
}
.perfil {
    padding: 80px;
    color: black;
    display: inline-block;
}
.lidos {
    padding: 50px;
    color: black;

    display: inline-block;
}
.pendientes {
    display: inline-block;
    padding: 50px;
    color: black;
}
